.newsletter {
  position: relative;
  &-header {
    margin-bottom: 95px;
  }
  .heading--big {
    max-width: 629px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    text-align: center;
  }
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &-image {
    flex-shrink: 0;
  }
  &-content {
  }
  &-title {
    margin-bottom: 18px;
    max-width: 308px;
  }
  &-list {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &-desc {
    margin-bottom: 37px;
    line-height: calc(28 / 18);
  }
  &-icon {
    margin-bottom: 19px;
  }
  &-name {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(25 / 20);
  }
}
