@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #333;
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
label,
button,
input,
textarea,
select {
  cursor: pointer;
  font-size: 14px;
  outline: 0;
  border: none;
}
